*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.main-parent{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../JS_Form/Assets/shopping-cart.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}